/*******************************************House Keeping**************************************/
.carousel-control.right, .carousel-control.left {
  background-image:none;
}

.navbar-default {
    background-color: white;
    border-color: white;
}

.white{

	color:#fff;
}

.blue{
	color:#3a5caa;
}

.red{

	color:#f1534a;
}
.gray-bg{

	background-color: #ebebeb;
}

.gray{

	color: #646464;
}

.gray-text{
	color:#a1a1a1;
}

/****************************Logo*************************************/

.logo-icon{
	
	float:left;
	max-width:50px;
	height: auto;


}
.order-button{

	margin-top: 10px;
}
.menu-bar{
	padding-top: 10px;
	padding-bottom: 20px;
	border-bottom: 1px solid #333;
}


/***********************************Slider Styling*************************************************************/
.slide{

	background-color:#fff;
}

.slider-img{

	padding-top: 20px;
	padding-bottom: 20px;
}

.big-header{

	padding-top:80px;
}

.order-btn{

	float:left;
	padding:7px 5px;
	color:#0076a3;
}

.catalogue-btn{

	margin-left: 12px;
	padding:7px 5px;
	background-color:transparent;
	stroke:2px solid #0076a3;
	color:#fff;
}

/*POP UP ORDER FORM STARTS HERE*/

.form_container{

	background-color:#ebebeb;
	height:auto;
	padding-bottom: 20px;
}
.spacer{

	margin-bottom: 10px;
}

.form-header{

	width:100%
	height:auto;
}

.modal-header{

}

.name{

	padding-right: 20px;
}

/**************************************Home Page Media Query******************************/
@media only screen and (max-width: 500px) {
   .big-header {
        padding-top: 10px;
    }

   .slider-img{

	padding-top: 10px;
	padding-bottom: 10px;
		}

	.order-btn{
		padding-bottom:20px;
	}
}
/**************************************PRODUCT STYLING************************************/
.category-header{
	text-align: center;
	padding-bottom: 10px;
}

.product-box{

	background-color: #ffffff;
	border-right: 5px solid #ebebeb;
	border-left: 5px solid #ebebeb;
	border-bottom: 5px solid #ebebeb;
	border-top: 5px solid #ebebeb;
	padding-bottom: 20px;

}
.productline{

	padding-bottom: 10px;
}

.product-box{
    text-align: center;
}
/******************TESTIMONIAL STYLING*********************************************/
.testimonial-header{

	padding-top:50px;
}

.testimony-image{

	padding-top:40px;
	padding-bottom:20px;
}
.about-text{
border-bottom:  1px solid  #ebebeb;
}

.contact-icon{
	width:40px;
	height:auto;
	
}

/***********************************ADMIN PANEL*******************************************/
.big{

	size:100px;
}
.side_bar{
border-right: 1px solid  #ebebeb;
max-width: 70px;
min-width: 70px;
height: 100%;
}

.logo-admin{

	border-bottom: 1px solid  #ebebeb;
	width:50px;
	height:auto;
	padding-top: 10px;
	padding-bottom: 10px;
}

.admin-title{

}
.admin-link{

	float:left;
}

/******************************FOOTER STYLING**************************************************/
.contact-us{
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #646464;
}
.icon-contact{
	max-width: 30px;
	height: auto;
	float:left;
	padding-right: 10px;
}
.contact-line{
	border-bottom: 1px solid #fff;
	padding:10px;
}



/***************************************ABOUT US***************************************************/

.testimonial{
	padding-top:20px;
	padding-bottom: 20px;
}

/***************************************ABOUT US PAGE******************************************/
.about-us-text{
	padding-top: 30px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ebebeb;
}

.about-us-story{
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;


    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
}
.mission{
	border-bottom: 1px solid #ebebeb;
	padding-top: 10px;
	padding-bottom: 20px;
}
.mission-statement{
	
	text-align:right;
}

/******************************************************Blog Page**************************************************************/
.blog-head-text{


}

.blog-image{

	width: 100%;
	height: auto;
	padding-top:10px;
	padding-bottom: 10px;
}

.story-thumbnail{
	width:100%;
	height: auto;
	padding-top: 15px;
}

.blog-sign{
	font-size: 10pt;
}

.popular-title{
	border-bottom: 2px solid #333;
	padding-bottom: 10px;
}

.blog-card{
	border-bottom: 1px solid #fff;
}
.blog-content{

	border-bottom: 1px solid #333;
}



/**********************************Products Page*******************************************************/
.product-header{
	border-bottom: 2px solid #333;
}

.product-category{
	padding-bottom: 30px;
}




/***********************************************Admin Home Page*******************************************************/
.admin-menu-bar{

	-webkit-box-shadow: 0px 0px 12px 3px rgba(135,130,135,0.69);
    -moz-box-shadow: 0px 0px 12px 3px rgba(135,130,135,0.69);
    box-shadow: 0px 0px 12px 3px rgba(135,130,135,0.69);

}

.admin-logo{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	border-right: 1px solid #ebebeb;
}

.admin-menu-icon{

	float:left;
	max-height: 60px;
	width:auto;
	border-left:1px solid #ebebeb;
}

.orders-title{

	padding-top: 70px;
}

.order-card{

	border-radius: 4px;
	background-color: #ebebeb;
	border:7px solid  #ffffff;
}

.name{
	padding-left: 20px;
	padding-top: 20px;
}

.contacts{
	padding-left: 20px;

}

.order-details-title{
	padding-top: 20px;
	padding-left: 20px;
}

.order-details{
	padding-left: 20px;
	margin: 0px;
}
.order-signature{
	padding-top: 20px;
	color:#8b8b8b;
	padding-left: 20px;
}


/***********************************Optimized for Mobile******************************************/
@media only screen and (max-width: 768px) {
   
		   .admin-menu-icon{

			float:left;
			max-height: 50px;
			width:auto;
			border-left:1px solid #ebebeb;
		}


		.orders-title{
			padding-top: 30px;
		}

}




/******************************************************Interested Page***********************************************************/
.catalogue-signature{
	padding-left: 20px;
}