/*******************************************House Keeping**************************************/
.carousel-control.right, .carousel-control.left {
  background-image:none;
}

.navbar-default {
    background-color: white;
    border-color: white;
}

.white{

	color:#fff;
}

.blue{
	color:#3a5caa;
}

.red{

	color:#f1534a;
}
.gray-bg{

	background-color: #ebebeb;
}

/****************************Logo*************************************/

.logo-icon{
	
	float:left;
	width:70px;
	height: auto;

}
.order-button{

	margin-top: 10px;
}
.menu-bar{
	border-bottom: 1px solid #333;
}


/***********************************Slider Styling*************************************************************/
.slide{

	background-color:#fff;
}

.slider-img{

	padding-top: 20px;
	padding-bottom: 20px;
}

.big-header{

	padding-top:80px;
}

.order-btn{

	float:left;
	padding:7px 5px;
	color:#0076a3;
}

.catalogue-btn{

	margin-left: 12px;
	padding:7px 5px;
	background-color:transparent;
	stroke:2px solid #0076a3;
	color:#fff;
}

/*POP UP ORDER FORM STARTS HERE*/

.form_container{

	background-color:#ebebeb;
	height:auto;
	padding-bottom: 20px;
}
.spacer{

	margin-bottom: 10px;
}

.form-header{

	width:100%
	height:auto;
}

.modal-header{

}

.name{

	padding-right: 20px;
}

/**************************************PRODUCT STYLING************************************/
.category-header{
	text-align: center;
	padding-bottom: 20px;
}

.product-box{

	background-color: #ffffff;
	border-right: 5px solid #ebebeb;
	border-left: 5px solid #ebebeb;
	border-bottom: 5px solid #ebebeb;
	border-top: 5px solid #ebebeb;

}
.productline{

	padding-bottom: 10px;
}
/******************TESTIMONIAL STYLING*********************************************/
.testimonial-header{

	padding-top:50px;
}

.testimony-image{

	padding-top:40px;
	padding-bottom:20px;
}
.about-text{
	 -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
	column-count: 2;
}

.contact-icon{
	width:40px;
	height:auto;
	
}

/***********************************ADMIN PANEL*******************************************/
.side_bar{
background-color: #0076a3;
}

.admin-title{

}
.admin-link{

	float:left;
}

/******************************FOOTER STYLING**************************************************/
.contact-us{
	border-top:2px solid #fff;
}





/***************************************ABOUT US***************************************************/
.large-pad{
	padding-bottom: 200px;
}