/*******************************************House Keeping**************************************/
.carousel-control.right, .carousel-control.left {
  background-image:none;
}

.carousel-image-left{
	margin-left: -15px;
}

.carousel-image-right{
	position: relative;
	right: 0px;
}

.navbar-default {
    background-color: white;
    border-color: white;
}

.white{

	color:#fff;
}

.blue{
	color:#3a5caa;
}

.red{

	color:#f1534a;
}
.gray-bg{

	background-color: #ebebeb;
}

.gray{

	color: #646464;
}

.gray-text{
	color:#a1a1a1;
}

/****************************Logo*************************************/

.logo-icon{
	
	float:left;
	max-width:50px;
	height: auto;


}
.order-button{

	margin-top: 10px;
}
.menu-bar{
	padding-top: 10px;
	padding-bottom: 20px;
	border-bottom: 1px solid #333;
}


/***********************************Slider Styling*************************************************************/
.slide{

	background-color:#fff;
	padding-bottom: 20px;
}

.slider-img{

	padding-top: 20px;
	padding-bottom: 20px;
}

.big-header{

	padding-top:60px;
}

.order-btn{

	float:left;
	padding:7px 5px;
	color:#0076a3;
}

.catalogue-btn{

	margin-left: 12px;
	padding:7px 5px;
	background-color:transparent;
	stroke:2px solid #0076a3;
	color:#fff;
}

/*POP UP ORDER FORM STARTS HERE*/

.form_container{

	background-color:#ebebeb;
	height:auto;
	padding-bottom: 20px;
}
.spacer{

	margin-bottom: 10px;
}

.form-header{

	width:100%
	height:auto;
}

.modal-header{

}

.name{

	padding-right: 20px;
}

/**************************************Home Page Media Query******************************/
@media only screen and (max-width: 768px) {
   .slide{
   		padding-bottom: 80px;
   }

   .big-header {
        padding-top: 10px;
    }

   .slider-img{

	padding-top: 10px;
	padding-bottom: 10px;
		}

	.order-btn{
		padding-bottom:20px;
	}
}
/**************************************PRODUCT STYLING************************************/

.product-holder{
	background-color:#ebebeb;
	margin-left: -15px;
	margin-right: -15px;
}
.category-header{
	text-align: center;
	padding-bottom: 20px;
	padding-top: 50px;
}

.product-image{
	border-radius:3px;
}

.product-box{
	background-color: #ffffff;
	padding-bottom: 20px;
	border-radius: 3px;
	/***text-align: center;**/
	margin-bottom:30px;
	margin-left:-15px;
	border-bottom: 7px solid #3a5caa;

	-webkit-box-shadow: 0px 3px 11px -4px rgba(0,0,0,0.69);
-moz-box-shadow: 0px 3px 11px -4px rgba(0,0,0,0.69);
box-shadow: 0px 3px 11px -4px rgba(0,0,0,0.69);

}
.productline{
	padding-bottom: 10px;
}

.product-text{
	padding:20px 17px 5px 17px;
}

.price-text{
	padding-left: 20px;
}


.buttons-container{
	margin-left: 20px;
}

/*********************PRODUCT PAGE STYLING MEDIA QUERY************************/
@media only screen and (max-width: 768px) {
..product-box{
	margin-left:-5px;
	margin-right:5px;
}
.cat-button{
	font-size:8pt;
}

}
/******************TESTIMONIAL STYLING*********************************************/
.testimony-container{
	padding-top:100px;
	padding-bottom: 100px;
}
.testimonial-header{

	padding-top:50px;
}

.testimonial-image{
	width: 100%;
	max-height: auto;
}
.about-text{
border-bottom:  1px solid  #ebebeb;
}

.contact-icon{
	width:40px;
	height:auto;
}

/*************************************Adapt Testimonials For Mobile**********************************/
@media only screen and (max-width: 768px) {
	.testimonial-header{
		padding-top:0px;
		margin-top:0px;
		}
	.testimony-container{
	padding-top:50px;
	padding-bottom: 20px;
}

}

/************************************ABOUT US**********************************/
.about-us-container{
	padding-top: 50px;
	padding-bottom: 50px;
}

.aboutus{
	margin-left:-15px;
	margin-right:-15px;
	padding-top:40px;
}
/***********************************ADMIN PANEL*******************************************/
.big{

	size:100px;
}
.side_bar{
border-right: 1px solid  #ebebeb;
max-width: 70px;
min-width: 70px;
height: 100%;
}

.logo-admin{

	border-bottom: 1px solid  #ebebeb;
	width:50px;
	height:auto;
	padding-top: 10px;
	padding-bottom: 10px;
}

.admin-title{

}
.admin-link{

	float:left;
}

/******************************FOOTER STYLING**************************************************/
.question-form{
	padding-bottom: 40px;
}
.contact-holder{
	border-top:3px solid #3a5caa;
}
.contact-us{
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #646464;
	height:100%;
}
.icon-contact{
	max-width: 30px;
	height: auto;
	float:left;
	padding-right: 10px;
}
.contact-line{
	border-bottom: 1px solid #fff;
	padding:10px;
}

.web-foot{
	background-color:#f1534a;
}
/*****************************************Adapting Footer for Mobile (Media Query)*********************************/
@media only screen and (max-width: 768px) {
	.get-in-touch{
		padding-top: 20px;
	}

	.contact-us{
		margin-top: 20px;
	}
}


/***************************************ABOUT US***************************************************/

.testimonial{
	padding-top:20px;
	padding-bottom: 20px;
}

/***************************************ABOUT US PAGE******************************************/
.about-us-text{
	padding-top: 30px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ebebeb;
}

.about-us-story{
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;


    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
}
.mission{
	border-bottom: 1px solid #ebebeb;
	padding-top: 10px;
	padding-bottom: 20px;
}
.mission-statement{
	
	text-align:right;
}
/*****************************************Optimize About us page for mobile*****************************************************/
@media only screen and (max-width: 768px) {
	.about-us-story{
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;

	}
}
/******************************************************Blog Page**************************************************************/
.blog-head-text{


}

.blog-image{

	width: 100%;
	height: auto;
	padding-top:10px;
	padding-bottom: 10px;
}

.story-thumbnail{
	width:100%;
	height: auto;
	padding-top: 15px;
}

.blog-sign{
	font-size: 10pt;
}

.popular-title{
	border-bottom: 2px solid #333;
	padding-bottom: 10px;
}

.blog-card{
	border-bottom: 1px solid #fff;
}
.blog-content{

	border-bottom: 1px solid #333;
}

.blogs-container{
	background-color: #ebebeb;
}
.blog-list-header{
	border-bottom: 2px solid #000;
}
.blog-story{
	padding-top: 20px;
	padding-bottom: 10px;
}
.blog-details{
	font-size: 8pt;
}
.story-image{
	width: 100%;
	height:auto;
}
.blog-head-text{
	margin-top: 0px;
}

/**********************************Products Page*******************************************************/

.product-header{
	padding-top:4px;
	padding-left: 10px;
	padding-bottom: 4px;
	width:100%;
}

.product-category{
	background-color: #ebebeb;
	border-left:4px solid #3a5caa;
	border-radius: 10px;
	padding-bottom: 30px;
	margin-bottom:20px;
}

.story-thumbnail{
	width:100%;
	height:auto;
	padding-bottom:40px;
}

.more-images{
	padding-right: 20px;
	margin-top:50px;
}





/***********************************************Admin Home Page*******************************************************/
.admin-menu-bar{

	-webkit-box-shadow: 0px 0px 12px 3px rgba(135,130,135,0.69);
    -moz-box-shadow: 0px 0px 12px 3px rgba(135,130,135,0.69);
    box-shadow: 0px 0px 12px 3px rgba(135,130,135,0.69);

}

.admin-logo{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	border-right: 1px solid #ebebeb;
}

.admin-menu-icon{

	float:left;
	max-height: 60px;
	width:auto;
	border-left:1px solid #ebebeb;
}

.orders-title{

	padding-top: 70px;
}

.order-card{

	border-radius: 4px;
	background-color: #ebebeb;
	border:7px solid  #ffffff;
}

.name{
	padding-left: 20px;
	padding-top: 20px;
}

.contacts{
	padding-left: 20px;

}

.order-details-title{
	padding-top: 20px;
	padding-left: 20px;
}

.order-details{
	padding-left: 20px;
	margin: 0px;
}
.order-signature{
	padding-top: 20px;
	color:#8b8b8b;
	padding-left: 20px;
}


/***********************************Optimized for Mobile******************************************/
@media only screen and (max-width: 768px) {
   
		   .admin-menu-icon{

			float:left;
			max-height: 50px;
			width:auto;
			border-left:1px solid #ebebeb;
		}


		.orders-title{
			padding-top: 30px;
		}

}




/******************************************************Interested Page***********************************************************/
.catalogue-signature{
	padding-left: 20px;
	font-size: 10px;
	font-weight: 100;
}
.interested-details{
	padding-left: 20px;
}



/*********************************************************************Blog post page*****************************************/
.blog-form-container{
	margin-top: 30px;
}
.blog-btn{
	float:left;
	margin-left: 5px;
}
.posted-blog-container{
	border-bottom:1px solid #ebebeb;
}

.postblogs{
	padding-bottom: 20px;
}

/********************************************************************MESSAGE PAGE STYLING*************************************/
.message-body{
	background-color: #ebebeb;
	margin-top:30px;
	padding-top:20px;
}
.msg-email{
	margin-top:0px;
}
